{% extends "main.html" %}

{% block title %} Текущее время {% endblock %}

    <div class="container">
        <div class="hero-unit">

    {% block main %}
        <div class="span9">
        <div class="hero-unit">
        <p>Registration form</p>
        <form action="" method="post">
            {% for field in form %}
            {{ field.label_tag }}{{ field }}
            {{ field.errors }}
            {% endfor %}
            {{ field.non_form_errors }}

            <table class="table">
                <tr>
                    <td><input type="submit" class="btn" value="Submit"/></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
    </div>
    {% endblock %}
        </div>
    </div>
