{% extends "main.html" %}
<html>
<head>
    <title></title>
</head>
<body>

    {% block main %}
        <div class="span9">
        <div class="hero-unit">
            <form method="post" action="/new_project">
            {% for field in form %}
                {{ field.label_tag }}{{ field }}
                {{ field.errors }}
            {% endfor %}
            {{ field.non_form_errors }}
            <br>
                <input type="submit">
            </form>
        </div>
        </div>
    {% endblock %}

</body>
</html>