<script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-collapse.js"></script>
<div class="tab-pane" id="employer">
    <h3>Workers</h3>
    {% for task in tasks %}
        {% for work in task.get_workers %}
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ work.id }}">
                            <span class="badge badge-info"> {{ work.user.username }}</span>
                        </a>
                    </div>
                    <div id="collapse{{ work.id }}" class="accordion-body collapse in" style="height: 0px; ">
                        <div class="accordion-inner">
                            <table class="table">
                                <tbody>
                                {{ work.get_role_display }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>