<script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-collapse.js"></script>
<div class="tab-pane" id="messages">
    <h3>Message</h3>
    {% for task in tasks %}
        {% for message in task.get_message %}

           <table>
                <thead>
                {{ message.title }}
                </thead>
                <tbody>
                <hr>
                {{ message.description }}
                </tbody>
            </table>
        {% endfor %}
    {% endfor %}

    <submit class="btn"><a href="new_message">New message</a></submit>
</div>