{% extends "main.html" %}
<html>
<head>
    <title></title>
</head>
<body>
    {% block main %}
        <link rel="stylesheet" type="text/css" href="/static/css/template.css" />
        <div id="content">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#project">Projects</a></li>
                <li><a href="#task">Tasks</a></li>
                <li><a href="#employer">Employers</a></li>
                <li><a href="#messages">Messages</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="project">
                      {% for task in tasks %}
                          <div class="task_wrapper">

                                <div class="title">
                <form name="myform" method="POST" action="/edit_task">
                <A HREF="javascript: submitform();">
                    {{ task.title }}
                </A>
                <input type="hidden" name="task_id" value="{{ task.id }}">
                </form>

                <script type="text/javascript">
                    function submitform()
                    {
                        document.myform.submit();
                    }
                </script>
                                </div>

                                <div class="description">
                                {{ task.description }}
                                </div>

                                <div class="priority">
                                Priority: {{ task.get_status_display }}
                                </div>

                                <div class="end_date">
                                {{ task.end_date }}
                                </div>
                          </div>
                        {% endfor %}
                </div>

                {% include "Task/task.html" %}
                {% include "Task/employer.html" %}
                {% include "Task/message.html" %}

            </div>
        </div>

        {% block scripts %}
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tabs.js"></script>
        <script type="text/javascript" src="/static/bundle/bundle.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                var _switch = $(".priority").text().split(":")[1].trim();
                get_status( _switch );
                $(".tabs").tabs();
            });
        </script>
        {% endblock %}

    {% endblock %}
</body>
</html>