<script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-collapse.js"></script>
<div class="tab-pane" id="task">
    <h3>Relative tasks</h3>
    {% for task in tasks %}
        {% for rel in task.get_rel_task %}
            <div class="accordion" id="accordion2">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ rel.id }}">
                            <span class="badge badge-info"> {{ rel.title }}</span>
                        </a>
                    </div>

                    <div id="collapse{{ rel.id }}" class="accordion-body collapse in" style="height: 0px; ">
                        <div class="accordion-inner">
                            <table class="table">
                                <thead>
                                    {{ rel.description }}
                                </thead>
                                <tbody>
                            <hr>
                            {{ rel.start_date }} - {{ rel.end_date }}
                            <br>
                            {{ rel.manager.user.username }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>