{% extends "main.html" %}
{% block main %}
    Department view
    {% for department in departments %}
        {{ department.name }}
        <br>
        {{ department.owner }}
    {% endfor %}
{% endblock %}

{% block news %}
    <div class="span3">

        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Control panel</li>
                <li><a href="new_dep">New department</a></li>

            </ul>
        </div>

    </div>
{% endblock %}