<html>
    <head>
        {% block carousel %}
            <script type="text/javascript" src="/static/bootstrap/js/bootstrap-carousel.js"></script>
            <script type="text/javascript" src="/static/bootstrap/js/bootstrap-transition.js"></script>
        {% endblock %}
        {% block styles %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
            <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
            <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
                .sidebar-nav {
                    padding: 9px 0;
                }
            </style>

        {% endblock %}
    <title>
        {% block title %}
            Task manager
        {% endblock %}
    </title>

    </head>

    <body>
        {% block nav %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <a class="brand" href="#">Task Controller</a>

                </div><!--/.nav-collapse -->
            </div>
        </div>

    {% endblock %}

         <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                       <a class="brand" href="#">Task controller</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/department">Department</a></li>
                            <li><a href="/register">Registration</a></li>
                            <li><a href="/bundles">Bundles</a></li>
                        </ul>
                        {% if is_logged_in %}
                        <p class="navbar-text pull-right">Logged in as <a href="/login">{{ username }}</a></p>
                            {% else %}
                        <p class="navbar-text pull-right"><a href="/login">Login</a></p>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                {% block news %}
                <div class="span3">

                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Control panel</li>
                                <li><a href="new_project">New task</a></li>
                        </ul>
                    </div>

                </div>
                {% endblock %}


                <div class="span9">
                    {% block main %}
                    <div id="main_wrapper">


                    </div>
                    {% endblock %}
                </div><!--/span-->

            </div><!--/row-->


            <hr>
            {% block footer %}
            <footer>
                <p> TaskManager 2012</p>
            </footer>
            {% endblock %}

        </div><!--/.fluid-container-->
</body>
</html>